<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
	<meta charset="utf-8">
	<title>Home App with Image</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 	<meta name="description" content="">
        <meta name="author" content="">

	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
	<link href="{% static 'css/fontawesome.min.css'  %}" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Roboto+slab:400,100,300,700" rel="stylesheet" type="text/css" />
	
	<link href="{% static 'css/agency.css' %}" rel="stylesheet"/>
    </head>
    <body id="page-top">
	    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Caracteristicas</a>
            </li>
             <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
	    <div class="invisible intro-lead-in">Welcome To Our Studio!</div>
	    <div class="invisible intro-heading text-uppercase">It's Nice To Meet You</div>
	    <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Comprar</a>
        </div>
      </div>
    </header>

    <!-- Services -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Características Principais</h2>
            <h3 class="section-subheading text-muted">Desde 2011 presente no mercado, se tornou uma referência por sua capacidade energetica e produção consistente de vapor.</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-fire fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Pré-aquecimento</h4>
            <p class="text-muted">2 minutos para estar pronto para utilização</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-thermometer-3 fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Ajuste de temperaturas</h4>
            <p class="text-muted">Niveis pre-determinados de aquecimento para diferentes tratamentos. 50/185/190/195/200/205/210</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-battery-3 fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Bateria</h4>
            <p class="text-muted">Até 2 horas de bateria permitindo a utilização 'on-the-go'</p>
          </div>
        </div>
      </div>
    </section>

       <!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Fale Conosco</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <form id="contactForm" name="sentMessage" novalidate>
                  <div class="form-group">
                    <input class="form-control" id="name" type="text" placeholder="Nome" required data-validation-required-message="Please enter your name.">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="email" type="email" placeholder="Email" required data-validation-required-message="Please enter your email address.">
                    <p class="help-block text-danger"></p>
                  </div>
               </div>
	       <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                  <div id="success"></div>
                  <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Enviar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; Your Website 2017</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
       </div>
      </div>
    </footer>


	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'js/jquery.easing.min.js' %}"></script>
	<script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
	<script src="{% static 'js/contact_me.js' %}"></script>
	<script src="{% static 'js/agency.min.js' %}"></script>
    </body>
</html>

